@using Caisk.Objects
<form @onsubmit="@FormSubmit">
    <MudDialog DefaultFocus="DefaultFocus.FirstChild">
        <DialogContent>
            <MudTextField T="string" @bind-Value="@Name" Label="@Label" Validation="@((object)ValidateName)" Immediate Variant="Variant.Outlined"/>
            <MudAlert Severity="Severity.Info" Class="my-4">@ObjectProfileUtility.NameConstraint</MudAlert>
            <MudDivider/>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit" OnClick="@Confirm" Disabled="!_isValid">@OkButton</MudButton>
            <MudButton Color="Color.Error" OnClick="@Cancel">Cancel</MudButton>
        </DialogActions>
    </MudDialog>
</form>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;

    [Parameter] public string[] Names { get; set; } = default!;
    [Parameter] public string? OkButton { get; set; } = "Create";
    [Parameter] public string? Name { get; set; }
    [Parameter] public string? Label { get; set; } = "Profile Name";

    private bool _isValid;

    private void Confirm()
    {
        if (ValidateName(Name) is null)
            MudDialog.Close(DialogResult.Ok(Name));
    }

    private void Cancel() => MudDialog.Close(DialogResult.Cancel());

    private string? ValidateName(string? name)
    {
        _isValid = false;
        if (string.IsNullOrWhiteSpace(name))
            return "Name is required";

        if (!ObjectProfileUtility.IsNameValid(name))
            return "Name format is incorrect";

        if (Names.Contains(name))
            return "Name already exists";

        _isValid = true;
        return null;
    }

    private void FormSubmit()
    {
        Confirm();
    }

}